/* main css file */
/*
 * dark-green: #245917
 * green: #50922C
 * main color: #666
 * white: #FFF
 * jumbotron: #a1c48a
 */

/* overall styles */
body { color: #666; }

h1, h2, h3,
i { color: #50922C; }

/* nav and jumbotron */
nav {
    max-height: 15px;
    margin: 0;
    padding: 0;
}

.navbar { margin-bottom: 0; }
a,
a:visited,
a:hover { color: #50922C; }

.active { background-color: #a1c48a; }
.active a { color: white; }
.active a:hover { color: #50922C; }

.jumbotron {
    background: url('../images/logo-gruppo-sportivo-candelu-prototype.jpg') no-repeat left center;
    background-color: #a1c48a;
    padding-top: 0;
    height: 254px;
}

.jumbotron h1 {
    font-size: 35px;
    color: #FFF;
}

/* sagra */
/* programma */
/* vini */
/* eventi */
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
  min-height: 500px;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  background-color: #FFF;
  text-align: center;
  height: 500px;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 450px;
  height: 500px;
}

.carousel-indicators {
  top: 1.5rem;
  right: 1.5rem;
  bottom: auto;
  left: auto;
  width: 1rem;
  margin-left: 0;
}

.carousel-indicators > li {
  margin-bottom: .25rem;
}
/* foto */
/* contatti */
.contatti { text-align: center; }
.contatti-jumbotron {
    background: none;
    background-color: #a1c48a;
}

/* footer */
footer {
    color: #50922C;
    text-align: center;
}
