/*
 * dark-green: #245917
 * green: #50922C
 * main color: #666
 * white: #FFF
 * jumbotron: #a1c48a
*/

/* overall styles */
body { color: #666; }

h1, h2, h3,
i { color: #50922C; }

/* nav */
nav {
    max-height: 15px;
    margin: 0;
    padding: 0;
}

.navbar { margin-bottom: 1px; }
a,
a:visited,
a:hover { color: #50922C; }

.nav > li.activeNav > a,
.nav > li.activeNav > a:focus { background-color: #a1c48a; color: #fff; }

/* sagra */
.jumbotron {
    background: url('../images/logo-gruppo-sportivo-candelu.jpg') no-repeat left center;
    background-color: #a1c48a;
    padding-top: 0;
    height: 254px;
    z-index: 10;
    -moz-box-shadow:    inset  0  8px 8px -8px #245917,
                        inset  0 -8px 8px -8px #245917;
    -webkit-box-shadow: inset  0  8px 8px -8px #245917,
                        inset  0 -8px 8px -8px #245917;
     box-shadow:        inset  0  8px 8px -8px #245917,
                        inset  0 -8px 8px -8px #245917;
}

.home {
    text-align: center;
}

.home img {
    width: 75%;
    margin: auto;
    border: 5px solid #a1c48a;
}

/* programma */
/* vini */
.flyer {
    text-align: center;
    border-top: 5px solid #a1c48a;
    -moz-box-shadow:    inset  0  8px 8px -8px #245917;
    -webkit-box-shadow: inset  0  8px 8px -8px #245917;
     box-shadow:        inset  0  8px 8px -8px #245917;
}

.flyer img {
    margin: 10px auto 10px auto;
    display: block;
    min-width: 650px;
}

/* eventi */
/* pitona */
.gsc-slider {
    display: block;
    min-height: 700px;
    border-top: 5px solid #a1c48a;
    -moz-box-shadow:    inset  0  8px 8px -8px #245917;
    -webkit-box-shadow: inset  0  8px 8px -8px #245917;
     box-shadow:        inset  0  8px 8px -8px #245917;
}

.gsc-slider > li {}
.gsc-slider > li > img {
    margin: 10px auto 10px auto;
    display: block;
    width: 500px;
}

.rn-carousel-control {
    -webkit-transition: opacity .2s ease-out;
    transition: opacity .2s ease-out;
    font-size: 4rem;
    font-weight: bold;
    position: absolute;
    top: 40%;
    opacity: .75;
    cursor: pointer;
    color: #245917;
}

.rn-carousel-control.rn-carousel-control-prev { left: 4.0em; }
.rn-carousel-control.rn-carousel-control-next { right: 4.0em; }

/* foto */
/* tbd */

/* contatti */
.contatti { text-align: center; }
.contatti-jumbotron {
    background: none;
    background-color: #a1c48a;
}

/* footer */
footer {
    color: #50922C;
    text-align: center;
}

/* utility class */
.building {
    color: #50922C;
    margin:auto;
    width: 50%;
    text-align: center;
    font-weight: bold;
}
.building img {
    width: 50%;
}
