/* main css file */
/*
 * dark-green: #245917
 * green: #50922C
 * main color: #666
 * white: #FFF
 * jumbotron: #a1c48a
 */

/* overall styles */
body { color: #666; }

h1, h2, h3,
i { color: #50922C; }

/* nav and jumbotron */
nav {
    max-height: 15px;
    margin: 0;
    padding: 0;
}

.navbar { margin-bottom: 0; }
a,
a:visited,
a:hover { color: #50922C; }

.active { background-color: #a1c48a; }
.active a { color: white; }
.active a:hover { color: #50922C; }

/* sagra */
.jumbotron {
    background: url('../images/logo-gruppo-sportivo-candelu.jpg') no-repeat left center;
    background-color: #a1c48a;
    padding-top: 0;
    height: 254px;
}

/* programma */
.home {
    text-align: center;
}

.home img {
    width: 75%;
    margin: auto;
    border: 5px solid #a1c48a;
}

/* vini */

/* eventi */
.bx-wrapper .bx-pager {
    bottom: -80px;
}

.bx-wrapper .bx-pager a {
    border: solid #ccc 1px;
    display: block;
    margin: 0 5px;
    padding: 3px;
    width: 50px;
}

.bx-wrapper .bxslider li img{
    margin: auto;
}

.bx-wrapper {
    width: 60%;
    margin-bottom: 90px;
    margin-top: 5px;
}

/* foto */

/* contatti */
.contatti { text-align: center; }
.contatti-jumbotron {
    background: none;
    background-color: #a1c48a;
}

/* footer */
footer {
    color: #50922C;
    text-align: center;
}
